[fsck]
	missingSpaceBeforeDate = ignore
[fetch.fsck]
	missingSpaceBeforeDate = ignore
[receive.fsck]
	missingSpaceBeforeDate = ignore
[transfer]
	fsckObjects = false
[fetch]
	fsckObjects = false
[receive]
	fsckObjects = false
